<!DOCTYPE html>
<html lang="{{ site.language | default('en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {% set navPages = collections.all | eleventyNavigation %}
    {{ navPages | dump | safe }}

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>